
  
  .cell-over {
    background-color: #df8888;
    height: 40px;
    width: 100px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    
  }

  .cell{
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color:#F2F3F3;
    height: 40px;
    width: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .cell-over-green  {
    background-color: #88df88;
    height: 40px;
    width: 100px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .cell-over-red{
    background-color: #df8888;
    height: 40px;
    width: 100px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

  }

  th{
    background-color: rgb(23,162,184,0.2);
  }

  td{
    background-color: rgb(23,162,184,0.2);
    position: relative;
    text-align: center;
    font-weight: bolder;
    /* min-width: 100px; */
  }

  .mergedCell{
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    color: white;
    top: 1px;
    right: 0;
    width: 203px;
    height: 40px;
    
    z-index: 2;
  }

  .removeSubjectBtn{
    background-color: #E04F5F;
    border: none;
    border-radius: 50%;
    color: white;
    opacity: 0.5;
    font-size: 9px;
    padding: 0 3px;
    position: absolute;
    left: 7px;
    top: 0;
    

  }

  .removeSubjectBtn:hover{
    opacity: 1;
    cursor: pointer;
  }